@font-face {
    font-family: 'RalewayThin';
    src: url('RalewayThin/RalewayThin.eot');
    src: url('RalewayThin/RalewayThin.eot') format('embedded-opentype'),
         url('RalewayThin/RalewayThin.woff2') format('woff2'),
         url('RalewayThin/RalewayThin.woff') format('woff'),
         url('RalewayThin/RalewayThin.ttf') format('truetype'),
         url('RalewayThin/RalewayThin.svg#RalewayThin') format('svg');
}
