
@font-face {
    font-family: 'KhandRegular';
    src: url('KhandRegular/KhandRegular.eot');
    src: url('KhandRegular/KhandRegular.eot') format('embedded-opentype'),
         url('KhandRegular/KhandRegular.woff2') format('woff2'),
         url('KhandRegular/KhandRegular.woff') format('woff'),
         url('KhandRegular/KhandRegular.ttf') format('truetype'),
         url('KhandRegular/KhandRegular.svg#KhandRegular') format('svg');
}
@font-face {
    font-family: 'KhandLight';
    src: url('KhandLight/KhandLight.eot');
    src: url('KhandLight/KhandLight.eot') format('embedded-opentype'),
         url('KhandLight/KhandLight.woff2') format('woff2'),
         url('KhandLight/KhandLight.woff') format('woff'),
         url('KhandLight/KhandLight.ttf') format('truetype'),
         url('KhandLight/KhandLight.svg#KhandLight') format('svg');
}


@font-face {
    font-family: 'RalewayExtraBold';
    src: url('RalewayExtraBold/RalewayExtraBold.eot');
    src: url('RalewayExtraBold/RalewayExtraBold.eot') format('embedded-opentype'),
         url('RalewayExtraBold/RalewayExtraBold.woff2') format('woff2'),
         url('RalewayExtraBold/RalewayExtraBold.woff') format('woff'),
         url('RalewayExtraBold/RalewayExtraBold.ttf') format('truetype'),
         url('RalewayExtraBold/RalewayExtraBold.svg#RalewayExtraBold') format('svg');
}


@font-face {
    font-family: 'RalewayLight';
    src: url('RalewayLight/RalewayLight.eot');
    src: url('RalewayLight/RalewayLight.eot') format('embedded-opentype'),
         url('RalewayLight/RalewayLight.woff2') format('woff2'),
         url('RalewayLight/RalewayLight.woff') format('woff'),
         url('RalewayLight/RalewayLight.ttf') format('truetype'),
         url('RalewayLight/RalewayLight.svg#RalewayLight') format('svg');
}
@font-face {
    font-family: 'RalewayThin';
    src: url('RalewayThin/RalewayThin.eot');
    src: url('RalewayThin/RalewayThin.eot') format('embedded-opentype'),
         url('RalewayThin/RalewayThin.woff2') format('woff2'),
         url('RalewayThin/RalewayThin.woff') format('woff'),
         url('RalewayThin/RalewayThin.ttf') format('truetype'),
         url('RalewayThin/RalewayThin.svg#RalewayThin') format('svg');
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('RalewayMedium/RalewayMedium.eot');
    src: url('RalewayMedium/RalewayMedium.eot') format('embedded-opentype'),
         url('RalewayMedium/RalewayMedium.woff2') format('woff2'),
         url('RalewayMedium/RalewayMedium.woff') format('woff'),
         url('RalewayMedium/RalewayMedium.ttf') format('truetype'),
         url('RalewayMedium/RalewayMedium.svg#RalewayMedium') format('svg');
}

@font-face {
    font-family: 'RalewayRegularItalic';
    src: url('RalewayRegularItalic/RalewayRegularItalic.eot');
    src: url('RalewayRegularItalic/RalewayRegularItalic.eot') format('embedded-opentype'),
         url('RalewayRegularItalic/RalewayRegularItalic.woff2') format('woff2'),
         url('RalewayRegularItalic/RalewayRegularItalic.woff') format('woff'),
         url('RalewayRegularItalic/RalewayRegularItalic.ttf') format('truetype'),
         url('RalewayRegularItalic/RalewayRegularItalic.svg#RalewayRegularItalic') format('svg');
}


@font-face {
    font-family: 'RalewaySemiBold';
    src: url('RalewaySemiBold/RalewaySemiBold.eot');
    src: url('RalewaySemiBold/RalewaySemiBold.eot') format('embedded-opentype'),
         url('RalewaySemiBold/RalewaySemiBold.woff2') format('woff2'),
         url('RalewaySemiBold/RalewaySemiBold.woff') format('woff'),
         url('RalewaySemiBold/RalewaySemiBold.ttf') format('truetype'),
         url('RalewaySemiBold/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
}


@font-face {
    font-family: 'RalewayRegular';
    src: url('RalewayRegular/RalewayRegular.eot');
    src: url('RalewayRegular/RalewayRegular.eot') format('embedded-opentype'),
         url('RalewayRegular/RalewayRegular.woff2') format('woff2'),
         url('RalewayRegular/RalewayRegular.woff') format('woff'),
         url('RalewayRegular/RalewayRegular.ttf') format('truetype'),
         url('RalewayRegular/RalewayRegular.svg#RalewayRegular') format('svg');
}



@font-face {
    font-family: 'robotoRegular';
    src: url('robotoRegular/robotoRegular.eot');
    src: url('robotoRegular/robotoRegular.eot') format('embedded-opentype'),
         url('robotoRegular/robotoRegular.woff2') format('woff2'),
         url('robotoRegular/robotoRegular.woff') format('woff'),
         url('robotoRegular/robotoRegular.ttf') format('truetype'),
         url('robotoRegular/robotoRegular.svg#robotoRegular') format('svg');
}
@font-face {
    font-family: 'robotoBold';
    src: url('robotoBold/robotoBold.eot');
    src: url('robotoBold/robotoBold.eot') format('embedded-opentype'),
         url('robotoBold/robotoBold.woff2') format('woff2'),
         url('robotoBold/robotoBold.woff') format('woff'),
         url('robotoBold/robotoBold.ttf') format('truetype'),
         url('robotoBold/robotoBold.svg#robotoBold') format('svg');
}
@font-face {
    font-family: 'kanitRegular';
    src: url('kanitRegular/kanitRegular.eot');
    src: url('kanitRegular/kanitRegular.eot') format('embedded-opentype'),
         url('kanitRegular/kanitRegular.woff2') format('woff2'),
         url('kanitRegular/kanitRegular.woff') format('woff'),
         url('kanitRegular/kanitRegular.ttf') format('truetype'),
         url('kanitRegular/kanitRegular.svg#kanitRegular') format('svg');
}
@font-face {
    font-family: 'kanitLight';
    src: url('kanitLight/kanitLight.eot');
    src: url('kanitLight/kanitLight.eot') format('embedded-opentype'),
         url('kanitLight/kanitLight.woff2') format('woff2'),
         url('kanitLight/kanitLight.woff') format('woff'),
         url('kanitLight/kanitLight.ttf') format('truetype'),
         url('kanitLight/kanitLight.svg#kanitLight') format('svg');
}
