/**
Commons
*/

body {
    background: #ffffff!important;
    color: #535353;
    font-size: 16px;
    line-height: 1.3;
    font-family: 'robotoRegular';
    font-weight: normal;
}

.container{
	max-width: 1270px;
	width: 100%!important;
}
.first:first-child{
	padding-left: 0;
	margin-left: 0;
}
.last:last-child{
	padding-right: 0;
	margin-right: 0;
}
img{
	max-width: 100%;
	height: auto;
}

.hide-md{
	display: block!important;
}
.show-md{
	display: none!important;
}
.hide-xs{
	display: block!important;
}
.show-xs{
	display: none!important;
}
.hide-sm{
	display: block!important;
}
.divider{
	line-height: 0;
	font-size: 0;
}
.border{
	border: 1px solid #ececec;
	padding: 10px;
}