footer .ftr-top{
	background:#197431;
	padding: 20px 0 24px; 
	position: relative;
}

.ftr-info{
	text-align: left;
}
.ftr-info ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ftr-info ul li{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-info a {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	color: #fff;
	padding: 10px 0 4px 27px;
	margin-right: 82px;
	font-family: 'robotoRegular';
	font-size: 19.53px;
	margin-bottom: 0;
	line-height: 18px;
	text-decoration: none;
}
.ftr-info ul li:last-child a{
	margin-right: 0;
}
.ftr-info .tel{
	background-image: url('../images/ft-tele.png');
	background-repeat: no-repeat;
	background-position: left 8px;
}
.ftr-info .mail{
	background-image: url('../images/ft-email.png');
	background-repeat: no-repeat;
	background-position: left 11px;	
	padding-left: 35px;	
}
.ftr-info a:hover{
	color: #fdd834;
}

.ftimage-frame {
    background-repeat: no-repeat;
    height: 76px;
    max-width: 51%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-position: right center;
    overflow: hidden;
}
.ftimage-frame img{
	float: right;
	max-width: initial;
	width: initial;
}
.ftr-btm p{
	margin: 0;
	padding: 17px 0 24px;
    font-family: 'robotoRegular';
    font-size: 14px;
    line-height: 15px;
    color: #575656;
}