@media (min-width: 1200px){
	.container {
	    width: 1270px;
	}
}
/*----- max-width 1270px -----*/
@media(max-width: 1280px){
    .product-info span.km {
    	min-width: 148px;
    }

}



/*----- max-width 1199px -----*/
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.product-info-view span {
	  font-size: 18px;
	  line-height: 19px;
	}
	.product-info span:first-child {
	  font-size: 21px;
	}
	.ftr-info a {
	    margin-right: 80px;
	    font-size: 18px;
	}


}

/*----- max-width 991px -----*/
@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.main-nav > ul {
	    padding: 35px 0 0;
	}
	.aside-wrp ul li{
		padding-bottom: 9px;
	}
	.product-img,.product-con{
		width: 100%;
		text-align: left;
	}
	.pruduct-des{
		text-align: left;
	}
	.product-img-view{
		width: 100%;
		padding-bottom: 10px;
	}
	.product-con-view{
		width: 100%;
		padding-left: 0;
	}
	.d2{
		width: 100%;
		margin-right: 0;
	}
	.blog_pg_ar .blog_img{
		padding-bottom: 10px;
	}
	.blog_pg_ar .blog_img img{
		max-width: 250px;
	}
	.blog_pg_ar .blog_img,.blog_pg_ar .blog_pg_cont {
		margin-right: 0;
		width: 100%;
	}
	.product-con {
    	padding-left: 0;
    }
	.ftimage-frame {
	    max-width: 40%;
	}
	.ftr-info a {
	    margin-right: 50px;
	}
}



/*----- max-width 767px -----*/
@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.container {
    	padding-right: 28px;
    	padding-left: 28px;
    }
	header.header {
    	padding-top: 14px;
    }
	.header .logo,.product-img-view{
		text-align: center!important;
	}
	header .logo a{
		max-width: 414px;
	}
	header .logo{
		padding-bottom: 16px;
		padding-left: 0;
	}
	.a-breadcrumbs{
		padding: 8px 5px;
	}
	.page-entry-con h2 {
    	font-size: 23px;
	}

/*toggle bar*/
    .toggle-bar-switch{
     	padding: 10px 20px 18px 20px;   
    }
	.toggle-bar{
		background:#197431;
		position: relative;
		cursor: pointer;
	}

	 .toggle-btn{
	 	float: right;
		width: 38px;
		height: 25px;
		position: relative;
		cursor: pointer;
		display: inline-block;
		vertical-align: baseline;
		top: 10px;
	}
	.toggle-bar strong{
		vertical-align: bottom;
	    font-weight: normal;
	    font-style: normal;
	    font-family: 'kanitLight';
	    font-size: 40px;
	    line-height: 32px;
	    color: #fff;
	    padding-left: 0;
	    float: left;
	}

	.toggle-btn span{
		height: 3px;
		background: #fff;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transition: all 0.3s;
		-ms-transition: all 0.3s;
		-moz-transition: all 0.3s;
	}
	.toggle-btn span:nth-child(2){
		top: 8px;
	}
	.toggle-btn span:last-of-type{
		margin-bottom: 0;
		top: 16px;
	}

	.menu-expend span:nth-child(1){
	  top: 43%;
	  transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	  margin-bottom: 0;
	  top: 8px;
	}
	.menu-expend span:nth-child(2){
		opacity: 0;
	}
	.menu-expend span:nth-child(3) {
	  top: 8px;
	  transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	}
	.mb-menu-inner  ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.mb-menu-inner > ul{
		height: auto;
	    list-style: none;
	    z-index: 99999999;
	    color: #fff;
	    padding: 0;
	    text-align: right;
	    font-size: 46px;
	    line-height: 100%;
	    margin-top: 35px;
	    font-family: 'robotoBold';
	}
	.mb-menu-inner ul li{
		padding-bottom: 11px;
	}
	.mb-menu-inner ul li a{
		color: inherit;
		position: relative;
		text-decoration: none;
	}
	.mb-menu-inner ul ul li a:before{
		content: "- ";
	}
	.menu-item-has-children{
		padding-bottom: 0!important;
	}

	.mb-menu-inner ul.sub-menu{
		font-size: 32px;
		padding-top: 8px;
		font-family: 'robotoBold';
	}
	.mb-menu-inner ul.sub-menu li a{
		color: #fff;
	}
	.mb-menu-inner > ul > li.menu-item-has-children > a:after{
		content: "\f107";
		position: absolute;
		top: 14px;
		right: -20px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		font-size: 25px;
	}
	.aside-wrp img{
		padding-right: 10px;
		display: inline-block;
		max-width: 48%;
	}
	.product-info span{
		float: none;
		display: inline-block;
		vertical-align: baseline;
	}
	.product-item.pritemListing.border{
    	border: 0;
    	padding: 0;
	}
	.product-con {
	    margin-top: 10px;
	}
	.product-info span {
	    font-size: 23px;
	}
	.product-info span:first-child {
	    font-size: 23px;
	}
	.product-info span.price {
	    padding-top: 13px;
	}
	.product-item.hproduct {
	    margin-bottom: 40px;
	}
	.home h3.product-title, 
	.archive h3.product-title {
	    padding-top: 16px;
	    padding-bottom: 16px;
	}
	.intereste-questions {
	    font-size: 24px;
	}
	.intereste-questions a {
    	margin-bottom: 6px;
	}
	.intereste-questions,.pruduct-des-view {
	    background: #fff;
	}
	.product-con.single-proinfo {
	    margin-bottom: 20px;
	    margin-top: 0;
	}
	.pruduct-des-view {
	    margin-bottom: 0px;
	    padding: 6px 10px 0px;
	}
	.product-img-view {
	    padding-bottom: 0px;
	}
	.mbgallery {
	  background: #eeeeee;
	  padding: 10px;
	  clear: both;
	}
	.mbgallery a {
	  font-size: 20px;
	  color: #2e2e2e;
	  font-family: 'kanitLight';
	}
	.mbgallery a span {
	    margin-left: 12px;
	}
	.mbgallery a span sub {
	    font-size: 12px;
	    position: relative;
	    top: 0px;
	    left: 4px;
	}
	.ftr-info ul li:first-child {
	    float: left;
	}
	.ftr-info ul li:last-child {
	    float: right;
	}
	.ftr-info a {
	    margin-right: 0px;
	    font-size: 17.52px;
	}
	h3.product-title,
	.pruduct-des{
		text-align: left;
	}
	.entry-con,
	.product-con,
	.pruduct-des{
		padding-left: 0;
	}
	.aside-wrp {
	    border-right: 0;
	    padding-right: 13px;
	    display: table;
	    margin: 0 auto;
	}
	.fancybox-nav span{
		visibility: visible;
	}
	.fancybox-wrap,
	.fancybox-inner{
		max-width: 100%!important;
	}
	.pruduct-des{min-height: initial; padding-bottom: 15px;}
	.home .sidebar-col, .tax-products .sidebar-col, .single-product .sidebar-col{display: none;}
	.product-img-inner img{ width: 100%; }
	li.delim{ margin: 0 3px; }
	.a-breadcrumbs li, .a-breadcrumbs li a{
	    display: inline;
	    float: none;
	 }
	 .a-breadcrumbs {
    	padding-left: 37px;
    }
    .a-breadcrumbs::before {
    	top: 10px;
    }
}


/*----- max-width 639 -----*/
@media(max-width: 639px){

	h1{
		font-size: 38px;
	}
	h2{
		font-size:35px ;
	}
	h3{
		font-size: 27px;
	}
	h4{
		font-size: 22px;
	}
	h5{
		font-size: 16px;
	}


}



/*----- max-width 439 -----*/
@media(max-width: 479px){
	h1{
		font-size: 37px;
	}
	h2{
		font-size:34px ;
	}
	h3{
		font-size: 25px;
	}
	h4{
		font-size: 20px;
	}
	h5{
		font-size: 16px;
	}
    .entry-con {
        padding: 45px 0 80px 0;
    }
    .toggle-btn {
	    width: 30px;
	}
}
/*----- max-width 449px -----*/
@media(max-width: 449px){
	.toggle-wrap {
	    padding-left: 174px;
	}
	.toggle-bar-switch {
	    padding: 10px 10px 18px 10px;
	}
	.toggle-bar strong {
	    font-size: 36px;
	}
	.mobile-social-icon a {
	    width: 52px;
	    margin-right: 2px;
	}
	.ftr-info ul li {
	    display: block;
	    vertical-align: baseline;
	}
	.ftr-info ul li:first-child,
	.ftr-info ul li:last-child{
	    float: none;
	}
}
@media(max-width: 388px){
	.toggle-wrap {
	    padding-left: 186px;
	}
	.mobile-social-icon a {
	    width: 58px;
	}
	.toggle-bar {
	    width: 66px;
	    height: 60px;
	}
	.toggle-bar-switch {
	    padding: 18px;
	}
	.toggle-bar strong {
	   display: none;
	}
	.toggle-btn {
	    top: 3px;
	}
	.mb-menu-inner > ul {
	    font-size: 40px;
	}
	.mb-menu-inner ul.sub-menu{
		font-size: 28px;
		padding-top: 4px;
	}
	.mb-menu-inner ul li {
	    padding-bottom: 6px;
	}
	/*Blog page style*/
	.wp_blog_cnt {
	    margin-top: 20px;
	}
	.blog_pg_ar .blog_img img{
	    max-width: 100%;
	}
	.blog_pg_ar .blog_pg_cont {
	    width: 100%;
	}
    .img-overlay a {
    	height: 60px;
    	padding-top: 7px;
    }	
	
    .img-overlay a span::before {
    	content: "";
    	position: absolute;
    	left: -3px;
    	top: -19px;
    	width: 76px;
    	height: 80px;
    }	
	.ftr-info ul li a{
	    margin-right: 10px!important;
	}
	.ftr-info ul li:first-child a{
	    margin-right: 0!important;
	}


}

/*----- max-width 369 -----*/
@media(max-width: 359px){
	body{
		font-size: 17px;
	}
}